body {
    text-align: center;
    font-family: Arial, sans-serif;
}

.recipe-card {
    background-color: #79c279;
    max-width: 50%;
    margin: auto;
    border-radius: 25px;
    box-shadow: -4px -4px 10px #000000, 4px 4px 10px #000000;
}

h1 {
    background-color: #0d6e0d;
    color: #ffffff;
    font-weight: 700;
    font-size: 56px;
    margin: center;
    border-radius: 25px 25px 0px 0px;
    padding: 12px;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0px 4px 10px #000000;
}

.recipes {
    list-style-type: none;
    margin: 16px 0 0 0;
    padding: 0;
}

.recipes li a button {
    text-decoration: none;
    font-size: 24px;
    line-height: 2;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.credits {
    text-align: right;
    padding: 20px 20px 20px 0;
}

li a button {
    background-color: darkgreen;
    width: 150px;
    border-radius: 12px;
    border: none;
    margin: 8px;
    transition-duration: 0.4s;
}

li a button:hover {
    background-color: darkcyan;
    box-shadow: -1px -1px 4px #000000, 1px 1px 4px #000000;
    width: 175px;
}

.git {
    background-color: darkcyan;
    border: none;
    border-radius: 8px;
    padding: 6px;
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
    margin: 0 0 0 8px;
    transition-duration: 0.4s;
}

.git:hover {
    color: #000000;
    box-shadow: -1px -1px 2px #000000 , 1px 1px 2px #000000;
}

/* Recipe Pages */

.subheader {
    background-color: #488348;
    color: #ffffff;
    font-weight: 700;
    font-size: 24px;
    margin: auto;
    max-width: 100%;
    border-radius: 8px 8px 0px 0px;
    padding: 4px;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0px 4px 10px #000000;
}

.ingredients {
    display: inline-block;
    list-style-position: inside;
    text-align: left;
    margin: 20px;
}

.directions {
    display: inline-block;
    list-style: none;
    padding: 0;
    margin: 20px;
}

.steps {
    text-align: left;
    padding: 10px;
    margin: 0 120px 0 120px;
    line-height: 1.5;
}

.description {
    margin: 12px 40px 20px 40px;
}

.border {
    border: 2px solid #000000;
}